.container{
  background-color: whitesmoke;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 5px 5px 5px;
  max-width: 1200px;
  position: sticky;
}

.header{
  
  color: white;
  background-color: blue;
  align-items: center;
  text-align: center;
}

.du{
  font-weight: bold;
}